<section id="services">
  <header class="services-header">
    <div>
      <h2>Our services</h2>
      <p class="ghost">Every one of us loves something different. So, explore the world through the lens of our visual
        capabilitie, and find what you love</p>
    </div>
    <ul class="tags-cloud">
      <li class="tag ghost">Design</li>
      <li class="tag">Development</li>
      <li class="tag">Digital Marketing</li>
      <li class="tag">SEO</li>
    </ul>
  </header>
  <div class="accordion-list">
    <details class="accordion-item" open="open">
      <summary class="accordion-title__container">
        <h3 class="accordion-title">UI/UX Design</h3>
        <svg class="arrow">
          <use xlink:href="./sprites/sprite-main.svg#iconArrow"></use>
        </svg>
      </summary>
      <div class="accordion-body">
        <div class="tags-cloud">
          <span class="tag">Web & Mobile App</span>
          <span class="tag ghost">Website
          </span>
          <span class="tag ghost">Dashboard</span>
          <span class="tag ghost">E-commerce</span>
        </div>
        <p>As a design development agency for both web and mobile applications, our specialists have analytical skills to
          organize complex user flows for easy use of the final product. We create innovative and functional UX/UI design
          solutions for web and mobile applications of any complexity.</p>
      </div>
    </details>
    <details class="accordion-item">
      <summary class="accordion-title__container">
        <h3 class="accordion-title">Brand Design</h3>
        <svg class="arrow">
          <use xlink:href="./sprites/sprite-main.svg#iconArrow"></use>
        </svg>
      </summary>
      <div class="accordion-body">
        <p>Hidden text</p>
      </div>
    </details>
    <details class="accordion-item">
      <summary class="accordion-title__container">
        <h3 class="accordion-title">Graphic Design</h3>
        <svg class="arrow">
          <use xlink:href="./sprites/sprite-main.svg#iconArrow"></use>
        </svg>
      </summary>
      <div class="accordion-body">
        <p>Hidden text</p>
      </div>
    </details>
  </div>
  <p class="ghost">
    Creative fuels design, design fuels creativity, be here for more, are you in love with a creative?
  </p>
  <ul class="tag-list">
    <li class="tag">Design</li>
    <li class="tag ghost">Development</li>
    <li class="tag ghost">Digital Marketing</li>
    <li class="tag ghost">SEO</li>
  </ul>
  <div class="works-list">
    
  </div>
</section>