---
import { getEntry } from 'astro:content';

const metaData = await getEntry('pages', 'teams');

import GetStart from '../components/get-start/get-start.astro';
import TeamsList from '../components/teams-list/teams-list.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/teams.css';
---

<Layout
  title={metaData.data.metatags.title}
  description={metaData.data.metatags.description}
  keywords={metaData.data.metatags.keywords}
>
  <main>
    <h1 class="teams-title">A team that works with you as a team</h1>
    <TeamsList />
    <GetStart />
  </main>
</Layout>
