<form id="getOrder">
  <button type="button" name="closePopup" title="close popup"></button>
  <label class="form-label">
    <input 
    type="text" 
    name="name" 
    autocomplete="given-name"
    placeholder="Name" 
    class="form-input">
  </label>
  <label class="form-label">
    <input 
    type="email" 
    name="email" 
    placeholder="Email" 
    autocomplete="off"
    class="form-input">
  </label>
  <button type="submit" class="button">Send</button>
</form>