---
import LogoSvg from "./elements/logo.html";
---

<header id="header">
  <a href="/" title="home page">
    <LogoSvg />
  </a>
  <nav class="nav-top" data-class-toggle="active">
    <ul class="nav-top__list">
      <li>
        <a href="#" class="link">About</a>
      </li>
      <li>
        <a href="#" class="link">Services</a>
      </li>
      <li>
        <a href="/projects" class="link">Projects</a>
      </li>
      <li>
        <a href="/teams" class="link">Teams</a>
      </li>
    </ul>
  </nav>
</header>