<footer id="footer">
  <nav class="footer-nav">
    <ul class="footer-nav__list">
      <li>
        <a href="#" class="link">About</a>
      </li>
      <li>
        <a href="#" class="link">Services</a>
      </li>
      <li>
        <a href="#" class="link">Project</a>
      </li>
      <li>
        <a href="#" class="link">Contact</a>
      </li>
    </ul>
  </nav>
  <ul class="footer-social">
    <li>
      <a href="#" title="instagram">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.9184 7.05204C23.8608 5.77422 23.6543 4.89992 23.3615 4.13611C23.0542 3.34828 22.6461 2.67574 21.9788
              2.01281C21.3115 1.34988 20.6441 0.931946 19.8568 0.629304C19.0934 0.331465 18.2196 0.129704 16.9426 0.0720576C15.6607
              0.0144115 15.2527 0 11.9976 0C8.73775 0 8.32967 0.0144115 7.05261 0.0720576C5.77555 0.129704 4.90178 0.336269 4.13843
              0.629304C3.34627 0.93675 2.67413 1.34508 2.0116 2.01281C1.34907 2.68054 0.931386 3.34828 0.628926 4.13611C0.336067
              4.89992 0.129626 5.77422 0.0720144 7.05204C0.0144029 8.33467 0 8.743 0 12C0 15.2618 0.0144029 15.6701 0.0720144
              16.948C0.129626 18.2258 0.336067 19.1001 0.628926 19.8639C0.936187 20.6517 1.34427 21.3243 2.0116 21.9872C2.67413 22.6549
              3.34627 23.0681 4.13363 23.3707C4.89698 23.6685 5.77075 23.8703 7.04781 23.9279C8.32967 23.9856 8.73775 24 11.9928
              24C15.2527 24 15.6607 23.9856 16.9378 23.9279C18.2148 23.8703 19.0886 23.6637 19.852 23.3707C20.6393 23.0633 21.3115
              22.6549 21.974 21.9872C22.6365 21.3195 23.0542 20.6517 23.3567 19.8639C23.6543 19.1001 23.856 18.2258 23.9136
              16.948C23.9712 15.6653 23.9856 15.257 23.9856 12C23.9856 8.743 23.976 8.32986 23.9184 7.05204ZM21.7628 16.8519C21.7099
              18.024 21.5131 18.6629 21.3499 19.0809C21.1338 19.6381 20.8698 20.0416 20.4473 20.4644C20.0248 20.8871 19.6263 21.1417
              19.0646 21.3675C18.6421 21.5308 18.0036 21.7278 16.837 21.7806C15.5743 21.8383 15.195 21.8527 11.988 21.8527C8.78096
              21.8527 8.40168 21.8383 7.13903 21.7806C5.96759 21.7278 5.32907 21.5308 4.91138 21.3675C4.35447 21.1513 3.95119 20.8871
              3.52871 20.4644C3.10622 20.0416 2.85177 19.6429 2.62613 19.0809C2.46289 18.6581 2.26605 18.0192 2.21324 16.8519C2.15563
              15.5885 2.14123 15.209 2.14123 12C2.14123 8.79103 2.15563 8.41153 2.21324 7.14812C2.26605 5.97598 2.46289 5.33707 2.62613
              4.91914C2.84217 4.36189 3.10622 3.95837 3.52871 3.53563C3.95119 3.11289 4.34967 2.85829 4.91138 2.63251C5.33387 2.46918
              5.97239 2.27222 7.13903 2.21938C8.40168 2.16173 8.78096 2.14732 11.988 2.14732C15.195 2.14732 15.5743 2.16173 16.837
              2.21938C18.0084 2.27222 18.6469 2.46918 19.0646 2.63251C19.6215 2.84868 20.0248 3.11289 20.4473 3.53563C20.8698 3.95837
              21.1242 4.35709 21.3499 4.91914C21.5131 5.34187 21.7099 5.98079 21.7628 7.14812C21.8204 8.41153 21.8348 8.79103 21.8348
              12C21.8348 15.209 21.8156 15.5885 21.7628 16.8519Z"
          ></path>
          <path
            d="M11.9882 5.83179C8.57948 5.83179 5.82373 8.594 5.82373 11.9999C5.82373 15.4107 8.58428 18.1681 11.9882 18.1681C15.392
              18.1681 18.1526 15.401 18.1526 11.9999C18.1526 8.58919 15.3968 5.83179 11.9882 5.83179ZM11.9882 16.0015C9.77972 16.0015
              7.98896 14.2097 7.98896 11.9999C7.98896 9.79015 9.77972 7.99832 11.9882 7.99832C14.1966 7.99832 15.9874 9.79015 15.9874
              11.9999C15.9874 14.2097 14.1966 16.0015 11.9882 16.0015Z"
          ></path>
          <path
            d="M18.3924 7.03294C19.1879 7.03294 19.8327 6.38771 19.8327 5.59179C19.8327 4.79586 19.1879 4.15063 18.3924
              4.15063C17.597 4.15063 16.9521 4.79586 16.9521 5.59179C16.9521 6.38771 17.597 7.03294 18.3924 7.03294Z"
          ></path>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" title="linkedin">
        <svg
          width="26"
          height="24"
          viewBox="0 0 26 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.985596 2.78788C0.985596 1.97978 1.26714 1.31312 1.83019 0.787879C2.39325 0.262618 3.12524 0 4.02614 0C4.91096 0
              5.62684 0.25857 6.17382 0.775758C6.73687 1.30909 7.01841 2.00402 7.01841 2.86061C7.01841 3.63636 6.74493 4.28281 6.19795
              4.8C5.6349 5.33333 4.89486 5.6 3.97787 5.6H3.95374C3.06892 5.6 2.35304 5.33333 1.80606 4.8C1.25908 4.26667 0.985596
              3.59595 0.985596 2.78788ZM1.2993 24V7.80606H6.65645V24H1.2993ZM9.62459 24H14.9817V14.9576C14.9817 14.3919 15.0461 13.9555
              15.1748 13.6485C15.4 13.099 15.7419 12.6343 16.2004 12.2545C16.6589 11.8747 17.234 11.6848 17.9258 11.6848C19.7276
              11.6848 20.6285 12.905 20.6285 15.3455V24H25.9856V14.7152C25.9856 12.3232 25.4225 10.5091 24.2964 9.27273C23.1703 8.03636
              21.6822 7.41818 19.8321 7.41818C17.7568 7.41818 16.14 8.31515 14.9817 10.1091V10.1576H14.9576L14.9817
              10.1091V7.80606H9.62459C9.65676 8.32323 9.67285 9.9313 9.67285 12.6303C9.67285 15.3293 9.65676 19.1192 9.62459 24Z"
          ></path>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" title="facebook">
        <svg
          width="13"
          height="24"
          viewBox="0 0 13 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.1993 13.3981L12.8212 9.08738H8.9308V6.29126C8.9308 5.11165 9.47327 3.96117 11.2157
              3.96117H12.9856V0.291262C12.9856 0.291262 11.3801 0 9.84587 0C6.64039 0 4.54724 2.06505 4.54724
              5.80194V9.08738H0.985596V13.3981H4.54724V23.8194C5.26231 23.9388 5.99381 24 6.73902 24C7.48423 24 8.21573 23.9388 8.9308
              23.8194V13.3981H12.1993Z"
          ></path>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" title="twitter">
        <svg
          width="30"
          height="24"
          viewBox="0 0 30 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27.0055 5.97594C27.0173 6.23994 27.0173 6.49194 27.0173 6.75594C27.0291 14.76 21.0453 24 10.1026 24C6.87512 24
              3.70655 23.052 0.985596 21.276C1.45676 21.336 1.92792 21.36 2.39908 21.36C5.07292 21.36 7.67609 20.448 9.78454
              18.756C7.24027 18.708 5.00225 17.016 4.22483 14.544C5.12004 14.724 6.0388 14.688 6.91045 14.436C4.14238 13.884 2.15172
              11.4 2.13994 8.50795C2.13994 8.48395 2.13994 8.45995 2.13994 8.43595C2.96447 8.90395 3.89502 9.16795 4.83734
              9.19195C2.23417 7.41595 1.42142 3.87594 2.99981 1.10393C6.02703 4.89594 10.4795 7.18795 15.2618 7.43995C14.7789 5.33994
              15.4385 3.13193 16.9815 1.64393C19.3727 -0.648079 23.142 -0.528079 25.4035 1.90793C26.7346 1.64393 28.0185 1.13993
              29.1846 0.431924C28.737 1.83593 27.8065 3.02393 26.5697 3.77994C27.7476 3.63593 28.9019 3.31193 29.9856 2.83193C29.1846
              4.05594 28.1716 5.11194 27.0055 5.97594Z"
          ></path>
        </svg>
      </a>
    </li>
  </ul>
</footer>
<div class="subfooter">
  <span>© Copyleft</span>
  <div>
    <a href="#" class="link">Privacy policy</a>
    <a href="#" class="link">Terms & Agreements</a>
  </div>
</div>
